
article {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 0;
}

article .character-sheet {
    width: 100%;
}

#full-width {
    width: 100%;
}

.hover-region {
    /*
    border: 2px solid red;
    */
}

.popup {
    font-size: 0.9em;
    display: none;
    position: static;
    background-color: #faffce;
    margin: auto;
    padding: 3px;
}

.hover-region:hover .popup {
    display: block;
}

#player-name {
    width: 11em;
    height: 2.7em;
    position: absolute;
    top: 7.5em;
    left: 30em;
}

#player-name-popup {
    width: 12em;
    margin: 1em auto;
}

#character-name {
    width: 17em;
    height: 3em;
    position: absolute;
    top: 9.6em;
    left: 12.2em;
}

#character-name-popup {
    width: 12em;
    margin: 0.5em auto;
}

#xp {
    width: 11em;
    height: 2.5em;
    position: absolute;
    top: 10.2em;
    left: 30em;
}

#xp-popup {
    width: 12em;
}

#level {
    width: 6em;
    height: 2.5em;
    position: absolute;
    top: 12.7em;
    left: 12.2em;
}

#level-popup {
    width: 13em;
}

#epithet {
    width: 11em;
    height: 2.5em;
    position: absolute;
    top: 12.7em;
    left: 18.2em;
}

#epithet-popup {
    width: 13em;
}

#next-level {
    width: 11em;
    height: 2.5em;
    position: absolute;
    top: 12.7em;
    left: 30em;
}

#next-level-popup {
    width: 13em;
}

#portrait {
    width: 18em;
    height: 24.5em;
    position: absolute;
    top: 7em;
    left: 41.5em;
}

#portrait-popup {
    width: 13em;
    margin: 10em auto;
}

#damage {
    width: 6em;
    height: 7em;
    position: absolute;
    top: 15.7em;
    left: 7.2em;
}

#damage-popup {
    width: 9em;
}

#rp-used {
    width: 6em;
    height: 7em;
    position: absolute;
    top: 15.7em;
    left: 14.3em;
}

#rp-used-popup {
    width: 9em;
}

#mp-used {
    width: 6em;
    height: 7em;
    position: absolute;
    top: 15.7em;
    left: 21.6em;
}

#mp-used-popup {
    width: 9em;
}

#vp-pool {
    width: 6em;
    height: 2.5em;
    position: absolute;
    top: 23em;
    left: 7.2em;
}

#vp-pool-popup {
    width: 9em;
}

#rp-pool {
    width: 6em;
    height: 2.5em;
    position: absolute;
    top: 23em;
    left: 14.3em;
}

#rp-pool-popup {
    width: 9em;
}

#mp-pool {
    width: 6em;
    height: 2.5em;
    position: absolute;
    top: 23em;
    left: 21.6em;
}

#mp-pool-popup {
    width: 9em;
}

#momentum-check {
    width: 10em;
    height: 2em;
    position: absolute;
    top: 16.4em;
    left: 30.1em;
}

#momentum-check-popup {
    width: 12em;
}

#exerted-check {
    width: 10em;
    height: 2em;
    position: absolute;
    top: 18.65em;
    left: 30.1em;
}

#exerted-check-popup {
    width: 12em;
}

#wounded-check {
    width: 10em;
    height: 2em;
    position: absolute;
    top: 20.9em;
    left: 30.1em;
}

#wounded-check-popup {
    width: 12em;
}

#dying-check {
    width: 10em;
    height: 2em;
    position: absolute;
    top: 23.15em;
    left: 30.1em;
}

#dying-check-popup {
    width: 12em;
}

#wealth {
    width: 6em;
    height: 2.7em;
    position: absolute;
    top: 25.5em;
    left: 7.2em;
}

#wealth-popup {
    width: 9em;
}

#init-count {
    width: 6em;
    height: 2.7em;
    position: absolute;
    top: 25.5em;
    left: 14.3em;
}

#init-count-popup {
    width: 9em;
}

#other-conditions {
    width: 19em;
    height: 3em;
    position: absolute;
    top: 25.5em;
    left: 21.6em;
}

#other-conditions-popup {
    width: 17em;
}

#descriptive-summary {
    width: 54em;
    height: 17em;
    position: absolute;
    top: 30.5em;
    left: 4.6em;
}

#descriptive-summary-popup {
    width: 17em;
    margin: 6em auto;
}

#fort-save {
    width: 5.5em;
    height: 4em;
    position: absolute;
    top: 49.4em;
    left: 5.1em;
}

#fort-save-popup {
    width: 12em;
}

#ref-save {
    width: 5.1em;
    height: 4em;
    position: absolute;
    top: 49.4em;
    left: 10.6em;
}

#ref-save-popup {
    width: 12em;
}

#will-save {
    width: 5.5em;
    height: 3.5em;
    position: absolute;
    top: 53.4em;
    left: 5.1em;
}

#will-save-popup {
    width: 12em;
}

#def-save {
    width: 5.1em;
    height: 3.5em;
    position: absolute;
    top: 53.4em;
    left: 10.6em;
}

#def-save-popup {
    width: 12em;
}

#av {
    width: 5em;
    height: 5em;
    position: absolute;
    top: 49.4em;
    left: 15.8em;
}

#av-popup {
    width: 12em;
}

#resist-val {
    width: 5.1em;
    height: 5em;
    position: absolute;
    top: 49.4em;
    left: 20.8em;
}

#resist-val-popup {
    width: 12em;
}

#heroic-bonus {
    width: 5em;
    height: 3.5em;
    position: absolute;
    top: 54.4em;
    left: 15.8em;
}

#heroic-bonus-popup {
    width: 12em;
}

#spellcraft {
    width: 5.1em;
    height: 3.5em;
    position: absolute;
    top: 54.4em;
    left: 20.8em;
}

#spellcraft-popup {
    width: 12em;
}

#awesome {
    width: 5em;
    height: 3.5em;
    position: absolute;
    top: 57.9em;
    left: 15.8em;
}

#awesome-popup {
    width: 12em;
}

#coast-num {
    width: 5.1em;
    height: 3.5em;
    position: absolute;
    top: 57.9em;
    left: 20.8em;
}

#coast-num-popup {
    width: 12em;
}

#athletics {
    width: 5.5em;
    height: 3em;
    position: absolute;
    top: 57.6em;
    left: 5.1em;
}

#athletics-popup {
    width: 12em;
}

#glibness {
    width: 5.1em;
    height: 3em;
    position: absolute;
    top: 57.6em;
    left: 10.6em;
}

#glibness-popup {
    width: 12em;
}

#brawn {
    width: 5.5em;
    height: 2.4em;
    position: absolute;
    top: 60.5em;
    left: 5.1em;
}

#brawn-popup {
    width: 12em;
}

#knowledge {
    width: 5.1em;
    height: 2.4em;
    position: absolute;
    top: 60.5em;
    left: 10.6em;
}

#knowledge-popup {
    width: 12em;
}

#charisma {
    width: 5.5em;
    height: 2.4em;
    position: absolute;
    top: 62.9em;
    left: 5.1em;
}

#charisma-popup {
    width: 12em;
}

#nature {
    width: 5.1em;
    height: 2.4em;
    position: absolute;
    top: 62.9em;
    left: 10.6em;
}

#nature-popup {
    width: 12em;
}

#dexterity {
    width: 5.5em;
    height: 2.4em;
    position: absolute;
    top: 65.3em;
    left: 5.1em;
}

#dexterity-popup {
    width: 12em;
}

#perception {
    width: 5.1em;
    height: 2.4em;
    position: absolute;
    top: 65.3em;
    left: 10.6em;
}

#perception-popup {
    width: 12em;
}

#gadgetry {
    width: 5.5em;
    height: 2.7em;
    position: absolute;
    top: 67.7em;
    left: 5.1em;
}

#gadgetry-popup {
    width: 12em;
}

#stealth {
    width: 5.1em;
    height: 2.7em;
    position: absolute;
    top: 67.7em;
    left: 10.6em;
}

#stealth-popup {
    width: 12em;
}

#traits {
    width: 10.1em;
    height: 9.5em;
    position: absolute;
    top: 61.4em;
    left: 15.8em;
}

#traits-popup {
    width: 12em;
    margin: 3em auto;
}

#speed {
    width: 5.5em;
    height: 2.7em;
    position: absolute;
    top: 71.2em;
    left: 5.1em;
}

#speed-popup {
    width: 12em;
}

#move-options {
    width: 15.5em;
    height: 4em;
    position: absolute;
    top: 71.2em;
    left: 10.6em;
}

#move-options-popup {
    width: 14em;
}

#main-attack {
    width: 32em;
    height: 5em;
    position: absolute;
    top: 49.4em;
    left: 27.7em;
}

#main-attack-popup {
    width: 25em;
}

#other-standards {
    width: 32em;
    height: 10.2em;
    position: absolute;
    top: 54.4em;
    left: 27.7em;
}

#other-standards-popup {
    width: 25em;
    margin: 4em auto;
}

#other-abilities {
    width: 32em;
    height: 12.2em;
    position: absolute;
    top: 64.6em;
    left: 27.7em;
}

#other-abilities-popup {
    width: 25em;
    margin: 5em auto;
}

#fight-level {
    width: 18.5em;
    height: 3.6em;
    position: absolute;
    top: 93.5em;
    left: 4.8em;
}

#fight-level-popup {
    width: 22em;
}

#caster-level {
    width: 18.5em;
    height: 2.9em;
    position: absolute;
    top: 97.1em;
    left: 4.8em;
}

#caster-level-popup {
    width: 18em;
}

#repeat-stats {
    width: 18.5em;
    height: 9.9em;
    position: absolute;
    top: 100em;
    left: 4.8em;
}

#repeat-stats-popup {
    width: 18em;
    margin: 2.5em auto;
}

#skill-calculation {
    width: 19.5em;
    height: 30.9em;
    position: absolute;
    top: 111em;
    left: 4.8em;
}

#skill-calculation-popup {
    width: 19em;
    margin: 6.5em auto;
}

#synergy-table {
    width: 19.5em;
    height: 4.9em;
    position: absolute;
    top: 141.9em;
    left: 4.8em;
}

#synergy-table-popup {
    width: 22em;
}

#kits {
    width: 10.5em;
    height: 13.9em;
    position: absolute;
    top: 98.7em;
    left: 25.3em;
}

#kits-popup {
    width: 10.5em;
    margin: 3.5em auto;
}

#feats {
    width: 23.8em;
    height: 7.7em;
    position: absolute;
    top: 98.7em;
    left: 35.9em;
}

#feats-popup {
    width: 19em;
    margin: 1.5em auto;
}

#talents {
    width: 23.8em;
    height: 11.9em;
    position: absolute;
    top: 106.4em;
    left: 35.9em;
}

#talents-popup {
    width: 19em;
    margin: 3.5em auto;
}

#armor {
    width: 21.8em;
    height: 6.9em;
    position: absolute;
    top: 121.3em;
    left: 24.5em;
}

#armor-popup {
    width: 20em;
    margin: 1em auto;
}

#ammo {
    width: 13.4em;
    height: 6.9em;
    position: absolute;
    top: 121.3em;
    left: 46.3em;
}

#ammo-popup {
    width: 13em;
    margin: 1em auto;
}

#other-equipment {
    width: 29.1em;
    height: 6.2em;
    position: absolute;
    top: 128.2em;
    left: 24.5em;
}

#other-equipment-popup {
    width: 20em;
    margin: 1em auto;
}

#total-bulk {
    width: 6em;
    height: 2.3em;
    position: absolute;
    top: 132.2em;
    left: 53.8em;
}

#total-bulk-popup {
    width: 12em;
}

#magic-items {
    width: 35.1em;
    height: 9.5em;
    position: absolute;
    top: 136em;
    left: 24.5em;
}

#magic-items-popup {
    width: 20em;
    margin: 1em auto;
}

#rituals {
    width: 53.3em;
    height: 11.9em;
    position: absolute;
    top: 147.6em;
    left: 4.8em;
}

#rituals-popup {
    width: 25em;
    margin: 3em auto;
}