body {
    background-color: #e0ecff;
}

#container {
    width: 64em;
    margin: 24px auto;
    border-radius: 15px;
    /* border: 1px solid black; */
    background-color: #bac9e0;
}

#page-icon {
    float: left;
}

nav {
    clear: both;
    height: 10em;
    background-image: url("mainpic.jpg");
    background-size: 100% 10em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    border: solid;
    border-width: 2px, 2px, 0, 2px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    background-color: lightgray;
}

nav li a {
    padding: 0 10px;
}

#selected-tab {
    background-color: #bac9e0;
    padding-bottom: 2px;
}
