body {
    background-color: #e0ecff;
}

#max-container {
    width: 64em;
    margin: 24px auto;
    border-radius: 15px;
    background-color: #bac9e0;
}

header {
    padding: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

header p {
    border: 1px solid;
    margin-top: 0;
}

#page-icon {
    float: left;
    margin: 10px;
}

nav {
    clear: both;
    height: 10em;
    background-image: url("mainpic.jpg");
    background-size: 100%;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 10px;
}

nav li {
    float: left;
    border: solid;
    border-width: 2px;
    border-bottom: 0;
    margin: 0 5px 0 0;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
}

nav li a {
    padding: 0 10px 2px 10px;
    text-decoration: none;
}

#selected-tab {
    background-color: #bac9e0;
    padding-bottom: 2px;
}
